* {
  --bs-gutter-x: 0;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0F0E0E !important;
  /* overflow-x: hidden; */
  position: relative;
  transition: 0.3s all;
}

html {
  /* overflow-x: hidden; */
}

/* CIRCLES */
.big-circle {
  transition: 1s;
  width: 428px;
  height: 428px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: calc(50% - 214px)
}

.big-circle:hover {
  transform: scale(1.1);
  transition: 1s;
}

.circle {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin: auto;
  animation: circle 6s linear infinite;
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-375px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(-375px) rotate(-360deg);
  }
}

/* small circles */
.small-circle-1 {
  position: absolute;
  right: 70px;
  top: 150px;
}

.small-circle-2 {
  position: absolute;
  left: 150px;
  top: 80px;
}

.small-circle-3 {
  position: absolute;
  left: 40px;
  bottom: 200px;
}

.small-circle-4 {
  position: absolute;
  right: 40px;
  bottom: 200px;
}

.circles {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  max-width: 1000px;
  height: 1000px;
  position: absolute;
  top: calc(50% - 500px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* welcome message */
.text {
  font-family: 'Inter', sans-serif;
  letter-spacing: 3px;
  /* border: 1px solid red; */
  color: white;
  position: absolute;
  left: -90px;
  width: 400px
}

.text h1 {
  font-size: 90px;
}

.text h3 {
  font-size: 20px;
}

.text p {
  font-size: 15px;
}

/* NAVBAR */
#navbar {
  transition: all 1s;
  font-size: 20px;
  position: absolute;
  top: calc(50% - 50px);
  right: -500px;
  margin: 0 auto;
  z-index: +1
}

#navbar ul {
  /* border: 1px solid red; */
  font-size: 25px;
  font-family: 'Inter', sans-serif;
  list-style-type: none;
  margin: 0;
  top: 0;
  padding: 0;
  width: 500px;
}

#navbar button {
  text-decoration: none;
  padding: 0;
  border: none;
  background: none;
  display: block;
  color: #bababa;
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.5s;
}

/* Change the link color on hover */
#navbar button:hover {
  transition: 0.5s;
  transform: scale(1.1);
  color: white;
}

/* test? */
#contact-panel {
  font-size: 40px;
  transition: all 1s;
  height: 2000px;
  width: 1500px;
  position: absolute;
  right: -1400px;
  top: 0;
  transform: translateX(1900px);
}

body.show-contact-panel {
  transform: translateX(-50%);
}

#contact {
  z-index: +33
}

/* project side */
.project {
  overflow: hidden;
}

.text-project {
  font-family: 'Inter', sans-serif;
  color: white;
}

.text-project h1 {
  margin-top: 30px;
  font-size: 130px;
  margin-left: 30px;
  font-family: sans-serif;
}

.text-project a {
  font-size: 14px;
  margin-left: 30px;
  text-decoration: none;
}

.text-project p {
  font-size: 16px;
  margin-left: 30px;
}

.project-image {
  width: 770px;
  height: 430px;
  object-fit: cover;
}

/* project side */

@media (min-width: 320px) and (max-width: 999px) {

  .big-circle {
    width: 628px;
    height: 628px;
    top: calc(50% - 314px)
  }
  .orbit {
    width: 851px;
    height: 851px;
  }
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-425px) rotate(0deg);
    }

    100% {
      transform: rotate(360deg) translate(-425px) rotate(-360deg);
    }
  }
  .text {
    letter-spacing: 3px;
    width: 400px;
    left: calc(50% - 200px)
  }
  #contact-panel {
    font-size: 40px;
    height: 1000px;
    width: 750px;
    right: 2000px;
    top: 150%;

  }
  .circles {
    max-width: 100%;
    /* top: calc(50% - 500px); */
    left: 0;
    right: 0;
  }
 #navbar {
   right: calc(50% - 450px);
   z-index: -1
 }
}
