html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 20px;
  color: #212529;
  font-family: 'Noto Sans', sans-serif;
  background-color: #FEF5ED;
}

.navbar {
  position: sticky;
  top: 1px;
  z-index: +10;
  padding: 8px 20px;
}

.cafe-container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: calc(50% - 450px);
  margin: 0 auto;
}

.cafe-container a {
  transition: all 1s;
}

.cafe-container a:hover {
  transition: all 1s;
  transform: scale(1.05);
}

.cafe-container h1 {
  text-align: center;
  margin: 0 0 40px 0;
  color: #3B5249
}

.content {
  padding: 20px 0;
}

.content h2 {
  margin: 0 0 1rem 0;
  font-size: 25px;
}

.content p {
  margin: 0.2rem;
  font-size: 15px;
  color: #1E5128
}

.content a {
  margin: 0.2rem;
  font-size: 15px;
  transition: all 1s;
  text-decoration: none;
  color: #1E5128
}

.content a:hover {
  transition: all 1s;
  text-decoration: underline;
  color: #F05454;
}

.image {
  object-fit: cover;
  width: 900px;
  height: 400px;
  border-radius: 10px;
}

/*show cafe page*/
header.masthead {
  text-align: center;
  margin-bottom: 80px;
  background: no-repeat center center;
  background-color: #868e96;
  position: relative;
  background-size: cover;
}

header.masthead .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #212529;
  opacity: 0.4;
}

header.masthead .post-heading {
  padding: 200px 0 150px;
  opacity: 0.9;
  color: white;
}

@media only screen and (min-width: 768px) {

  header.masthead .page-heading h1,
  header.masthead .site-heading h1 {
    font-size: 80px;
  }
}

header.masthead .post-heading h1 {
  font-size: 35px;
}

header.masthead .post-heading .meta,
header.masthead .post-heading .subheading {
  line-height: 1.1;
  display: block;
}

@media only screen and (min-width: 768px) {
  header.masthead .post-heading h1 {
    font-size: 55px;
  }

  header.masthead .post-heading .subheading {
    font-size: 30px;
  }
}

/* cols */
.cafe-info .col {
  font-family: 'Prompt', sans-serif;
  transition: 0.9s;
  margin: 20px;
  padding: 50px;
  color: black;
  border-radius: 20px;
}

.cafe-info p {
  margin: 0;
}

.cafe-assessment .col {
  text-align: center;
  transition: 0.9s;
  margin: 70px;
  padding: 50px;
  color: black;
  border-radius: 20px;
}

.cafe-info .col:hover {
  transition: 0.9s;
  transform: scale(0.9);
}

.col-left {
  background: rgb(198, 220, 228);
  background: linear-gradient(90deg, rgba(198, 220, 228, 1) 0%, rgba(211, 235, 205, 1) 100%);

}

.col-average {
  background-color: #d3ebcd
}

.col-right {
  background: rgb(211, 235, 205);
  background: linear-gradient(90deg, rgba(211, 235, 205, 1) 0%, rgba(198, 220, 228, 1) 100%);
}

.map-link {
  text-decoration-line: none;
}

.main-info {

}

/* footer */
.site-footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none
}

.footer-links li {
  display: block
}

.footer-links a {
  color: #737373
}

.footer-links a:active, .footer-links a:focus, .footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block
}

.site-footer .social-icons {
  text-align: right
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d
}

.copyright-text {
  margin: 0
}

@media (max-width:991px) {
  .site-footer [class^=col-] {
    margin-bottom: 30px
  }
}

@media (max-width:767px) {
  .site-footer {
    padding-bottom: 0
  }

  .site-footer .copyright-text, .site-footer .social-icons {
    text-align: center
  }
}

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none
}

.social-icons li {
  display: inline-block;
  margin-bottom: 4px
}

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px
}

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear
}

.social-icons a:active, .social-icons a:focus, .social-icons a:hover {
  color: #fff;
  background-color: #29aafe
}

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px
}

.social-icons a.telegram:hover {
  background-color: #3b5998
}

.social-icons a.linkedin:hover {
  background-color: #007bb6
}

@media (max-width:767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600
  }
}
/* footer */

/*form*/
.form-group {
  color: #1E5128
}

.control-label {
  margin: 15px 0;
}

.checkbox {
  color: #1E5128;
  margin: 30px 0;
}

#submit {
  margin: 30px 0;
}

/*form*/
.help-block {
  color: red
}

.flashes p {
  color: red;
}
.flashes {
  padding: 0;
}

/*comment*/
.comment {
    padding-top: 20px;
}



.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-size:11px;
}

/*comment*/
